footer {
  margin: 0 auto;
  color: white;
  background-color: rgba(45,45,45,1);
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 20px;
}

.contact {
  color: white;
  text-decoration: none;
  padding: 2px;
  display: inline-block;
  margin: 0 25px 0 25px;
}
