$headerbg: rgba(45,45,45,1);
$headercolor: rgba(255,255,255,1);
$subheadercolor: $headercolor - 100;
$biobg: rgba(105,171,31,1);
$articlebg: rgba(175,175,175,1);
//$articlebggradient: -webkit-linear-gradient(top, rgba(175,175,175,1), rgba(175,175,175,0));
